html{
    text-align:center;
}
#main{
    height: 50vh;
    margin: 300px 600px 0px 600px;
    background-color:rgb(172, 172, 172);
    border-radius: 10px;
    font-size:larger;
    font-family: 'Courier New', Courier, monospace;
}

#main-text{
    padding-top:200px;
    font-family:'Roboto', sans-serif;
    color:white;
}

#volume{
    font-family: 'Courier New', Courier, monospace;
    font-size:larger;
}

p {
    font-family: 'Robot', sans-serif;
}

button {
    font-size: large;
}

h6{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    text-decoration: underline;
}

form{
    font-size: larger;
}

